@page "/"
@inject BookService BookService
@inject IJSRuntime JSRuntime

<input id="myInput" class="form-control" value="@inputValue" placeholder="@message" @onkeypress="@(e => OnKeyDown(e))" @oninput="@(e => OnTextChanged(e))"  />
<p>WELCOME: @vano</p>
@* <button type="button" class="btn btn-primary" @onclick="@(e => Focus(e))">
    测试
</button> *@
@code {
    string message = "请扫描学号";
    string inputValue = "";
    string vano = "";

    protected async override void OnAfterRender(bool firstRender)
    {
        string controlId = "myInput";
        var obj = await JSRuntime.InvokeAsync<string>(
            "MySetFocus", controlId);
    }
    public class Customer
    {
        public int Id { get; set; }
        public string name { get; set; }
        public string grade { get; set; }
    }

    private async void Focus(EventArgs e)
    {
        string controlId = "myInput";
        var node = new Uri("http://ruianva.tpddns.cn:9200");
        var settings = new Nest.ConnectionSettings(node);
        settings.BasicAuthentication("elastic", "ruianVA123");
        settings.DefaultIndex("customer");
        var client = new Nest.ElasticClient(settings);
        var res = client.Search<Dictionary<String, Object>>(s =>
         s.Query(q => q
         .Term(t => t["name"], "chenmeile")));
        var obj = await JSRuntime.InvokeAsync<string>(
        "MySetFocus", controlId);
    }
    private async Task OnKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {

            if (string.IsNullOrEmpty(vano))
            {
                vano = inputValue;
                inputValue = "";
                message = "请扫描书籍编号";
            }
            else
            {
                await BookService.AddRent(inputValue, vano);
                var obj = await JSRuntime.InvokeAsync<string>("MyPop", "借阅成功" + vano + ":" + inputValue);
                vano = "";
                inputValue = "";

            }
        }
    }
    private void OnTextChanged(ChangeEventArgs e)
    {
        inputValue = e.Value as string;
    }

}
